.page {
  display: flex;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  justify-content: left;
  text-decoration: none;
  color: black;
}

.intro {
  background-color: grey;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: left;
}
