.add-button {
  border: none;
  background-color: #e9e8e8;
  color: #403e3e;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
  border-radius: 2px;
  font-size: 1rem;
}

.add-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-button:hover {
  background-color: #d3d0d0;
  cursor: pointer;
}
